.ProjectContainer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.selectedInputContainer {
  width: 300px;
  height: 40px;
  border: 1px solid #e2e8f0;
  margin-left: 55px;
}

.projectList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bgContainer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.failureImage {
  width: 500px;
  height: 450px;
  margin-bottom: 30px;
}

.description {
  color: #475569;
  font-size: 40px;
  font-weight: bold;
  font-family: 800;
  margin-bottom: 10px;
}
.para {
  color: #475569;
  font-size: 25px;
  font-weight: bold;
  font-family: 300;
  margin-bottom: 10px;
}

.RetryButton {
  background-color: #328af2;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border-width: 0px;
  color: #ffffff;
  font-family: 'Roboto';
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
